<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Astronaut Research Website</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<header>
		<h1>Astronaut Data Web App</h1>
		<nav>
			<a href="/">Home</a> |
			<a href="/page1">Astronauts</a> |
			<a href="/page2">Missions</a> |
			<a href="/page3">Stats</a> |
			<a href="/page4">Military</a> |
			<a href="/page5">Nationalities</a>
		</nav>
		<hr>
	</header>
	{% block content %}{% endblock %}
</body>
</html>