{% extends "layout.html" %}
{% block content%}
<h2>Nationality Breakdown</h2>

<div class="two-col">
    <div>
        <canvas id="natChart"></canvas>
    </div>
    <aside>
        <h4>Counts</h4>
        <ul class="simple-list">
            {% for nat, c in nationality_count.items()|sort(attribute='1', reverse=true) %}
            <li><strong>{{ nat }}</strong> - {{ c }}</li>
            {% endfor %}
        </ul>
    </aside>
</div>

<script>
const natData = {{ nationality_count | tojson }};
const labels = Object.keys(natSata);
const counts = Object.values(natData);
new Chart(document.getElementById('natChart'), {
    type: 'pie',
    data: { labels, datasets: [{ data: counts, backgroundColor: ['#5d0341','64003f','#6b2f51','#b9a890','#e1d9b7'] }] },
    options: { responsive: true }
});
</script>
{% endblock %}